<footer class='blog__footer'>
  <div class='blog__footer__heart'>
    <p>Made with <span class='blog__footer__heart__css'></span> by <a class='blog__footer__heart__author' href='https://simoneas02.github.io/' target="_blank">Simone Amorim</a></p>
  </div>
</footer>