<head>

  <!-- style
  =========================================== -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css"/>
  
  <!--  Fonts
  =========================================== -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,700,700i"/>
    
    <!-- meta
      <link rel="stylesheet" href="./assets/styles/main.css?v=1.0"/>
      <%- favicon_tag(path) %>
   =========================================== -->
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0"/>

  <%- open_graph()%>
  
  <!-- SEO
  ========================================== -->
  <meta name="description" content= /<%- config.description %>>
  <meta name="robots" content="index,follow"/>
  
  <title><%= config.title %></title>
</head>