<header class='blog__header'>
  <nav class='nav'>

    <ul class='nav__list'>

      <% for (var item in theme.menu) { %>
      
        <li class='nav__list__item'>
          <a id="<%= `menu${item}`  %>" class='nav__list__link' href="<%- url_for(theme.menu[item]) %>" > <%= item %> </a>
        </li>
  
      <% } %>

    </ul>

    <img class='nav__img' src="<%- url_for('./assets/icon/search.svg', [alt="search"]) %>">

  </nav>
</header>