.blog
  width 100%
  margin 0 auto
  padding 0 $external-spacing  
  display flex
  flex-direction column
  font 500 16px 'Roboto', sans-serif
  line-height 1.67
  color $light-color
  border 1px solid $dev-color