.nav
  display flex
  align-items center
  justify-content flex-end

.nav__list
  margin 0
  padding 0
  display flex
  list-style none

.nav__list__item
  margin 0 5px
  display flex
  align-items center
  justify-content center

.nav__list__link
  text-decoration none
  padding 5px
  color $primary-color

.nav__img
  object-fit contain