.nav
  display flex
  align-items center
  justify-content flex-end
  padding $internal-spacing
  border 1px solid $dev-color

.nav__list
  margin 0
  padding 0
  display flex
  list-style none
  //display none

.nav__list__item
  margin 0 5px
  display flex
  align-items center
  justify-content center

.nav__list__link
  text-decoration none
  padding $internal-spacing
  color $light-color
  font 500 18px 'Roboto', sans-serif
  color $light-color

  &:hover
  &:focus
    color $title-color

.nav__img
  object-fit contain
  padding $internal-spacing