.about
  border 1px solid $dev-color
  width 100%

.about__figure
  border 1px solid $dev-color
  margin 0
  display flex
  flex-direction column
  align-items baseline
  justify-content center

.about__figure__avatar
  border-radius 50%
  width 150px
  margin 0 auto

@media(min-width 500px)
  .about__figure__avatar
    width 200px

.about__figure__figcap
  margin $spacing-level2 auto 0 auto
  border 1px solid $dev-color

.about__figure__figcap__text-main
  border 1px solid $dev-color
  color $hover-color
  font 700 40px 'Arvo', serif

@media(min-width 500px)
  .about__figure__figcap__text-main
    font-size 42px

@media(min-width 500px)
  .about__figure__figcap__text-main
    font-size 48px

.about__figure__figcap__description
  border 1px solid $dev-color
  font lighter 22px 'Satisfy', cursive
  margin 0
  color $title-color

@media(min-width 500px)
  .about__figure__figcap__description
    font-size 28px

@media(min-width 500px)
  .about__figure__figcap__description
    font-size 32px

.about__figure__figcap__link
  border 1px solid $dev-color
  color $light-color