.nav
  display flex
  align-items center
  justify-content center
  border 1px solid $dev-color
  width 100%

@media(min-width 500px)
  .nav
    justify-content flex-end

.nav__list
  margin 0
  padding 0
  display flex
  list-style none

.nav__list__item
  display flex
  align-items center
  justify-content center
  padding $spacing-level1

@media(min-width 500px)
  .nav__list__item
    justify-content flex-end

.nav__list__link
  text-decoration none
  font 600 14px 'Open Sans', sans-serif
  color $light-color

  &:hover
  &:focus
    active-menu()

@media(min-width 500px)
  .nav__list__link
    padding $spacing-level1

.nav__img
  object-fit contain
  margin 0 0 0 $spacing-level1