.post-preview
  border 1px solid $dev-color
  border-radius 5px
  padding $spacing-level3 $spacing-level1

  &:hover
  &:focus
    border .5px solid $bg-color
    cursor pointer

@media(min-width 500px)
  .post-preview
    padding $spacing-level3 $spacing-level12

@media(min-width 760px)
  .post-preview
    padding $spacing-level4 $spacing-level2

.post-preview__link
  text-decoration none
  color $description-color