<!DOCTYPE html>
<html lang="en">
  
  <%- partial('partial/head') %>

  <body>
    <div class='blog'>
      <%- partial('partial/header') %>
      
      <main class='blog__main'>
        <%- body %>
      </main>
  
      <%- partial('partial/footer') %>
    </div>
  </body>

</html>
