<!DOCTYPE html>
<html lang="en">
  
  <%- partial('partial/head') %>

  <body>
    <%- partial('partial/header') %>

    <main>
      <%- body %>
    </main>

    <%- partial('partial/footer') %>
  </body>

</html>
